.vene{
	width: 20px;
}

form .form-inline{
	width: 100%;
}

#exampleInputAmount, .form-group, .input-group, .form-control{
	width: 100%;
}

.parrafo{
	padding: 10px;
}

.btn-nex{
	background-color: #FB55FD;
	padding: 20px 5px;
	color:#fff;
	font-size: 20px;
}

.bt{
	border: 1px;
	padding: 3% 0%;
	color: #000;
	background-color: #fff;
	text-align: center;
	border-style: solid;
	border-top: none;
    width: 32%;
    position: relative;
    left: 2%;
    margin-bottom: 0%;
}

.btn-nada{
	background-color: #fff;
	padding: 0px 5px;
	color:#fff;
	font-size: 20px;
}

h4 button{
	background: transparent;
	border: transparent;
	padding: 0% 0%;
	color: #DBDBDB;
}

h4 button:hover{
	background: transparent;
	border: transparent;
	padding: 0% 0%;
	color: #DBDBDB;
}

.form-inline{
	padding-top: 15px;
	padding-bottom: 6px;
}

.nombres{
	display: block;
}
