@media screen and (max-width: 480px){
	.fondo img{
		width: 100px;
		position: relative;
		left: 34%;
	}
}

@media screen and (max-width: 667px){
	
  }

@media screen and (max-width: 1024px){


  }

@media screen and (max-width: 1600){
	
}

	

