
.fa-angle-left:before {
    content: "\f104";
    font-size: 38px;
    position: relative;
    top: -18px;
    color: #909090;
}

.vene{
	width: 20px;
}

form .form-inline{
	width: 100%;
}

#exampleInputAmount, .form-group, .input-group, .form-control{
	width: 100%;
}

.parrafo{
	padding: 10px;
}

.btn-nex{
	background: rgba(255,93,177,1);
background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(100%, rgba(239,1,124,1)));
background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=1 );
	padding: 14px 5px;
	color:#fff;
	font-size: 20px;
}

.icon-backspace{
	font-size: 16px;
}
.bt{
	border: 1px;
	padding: 3% 0%;
	color: #909090;
	background-color: #fff;
	border-color: #E5E5E5;
	text-align: center;
	border-style: solid;
	border-top: none;
    width: 32%;
    position: relative;
    left: 2%;
    margin-bottom: 0%;
    font-size: 14px;
}

.btn-nada{
	background-color: #fff;
	padding: 0px 5px;
	color:#fff;
	font-size: 20px;
}

h4 button{
	background: transparent;
	border: transparent;
	padding: 0% 0%;
	color: #DBDBDB;
	font-size: 20px;
}

h4 button:hover{
	background: transparent;
	border: transparent;
	padding: 0% 0%;
	color: #DBDBDB;
}
h4 span{
	color: #909090;
}

.baja{
	position: relative;
	top: 32px;
}

.vene{
	width: 20px;
}

form .form-inline{
	width: 100%;
}

#exampleInputAmount, .form-group, .input-group, .form-control{
	width: 100%;
}

.parrafo{
	padding: 10px;
}

.btn-nex{
	background-color: #FB55FD;
	padding: 20px 5px;
	color:#fff;
	font-size: 20px;
}

.bt{
	border: 1px;
	padding: 3% 0%;
	color: #000;
	background-color: #fff;
	text-align: center;
	border-style: solid;
	border-top: none;
    width: 32%;
    position: relative;
    left: 2%;
    margin-bottom: 0%;
}

.btn-nada{
	background-color: #fff;
	padding: 0px 5px;
	color:#fff;
	font-size: 20px;
}

#paises{
	padding-left: 3%;
	text-decoration: none;
}

h4 button{
	background: transparent;
	border: transparent;
	padding: 0% 0%;
	color: #DBDBDB;
}

h4 button:hover{
	background: transparent;
	border: transparent;
	padding: 0% 0%;
	color: #DBDBDB;
}

.color_blanco{
	color: #fff;
}

#listado{
	list-style:none;
	margin-left: -13%;
}

.form-inline{
	margin-top: 20px;
	
}

.forma{
	margin-top: 20px;
	background: rgba(255,93,177,1);
background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(100%, rgba(239,1,124,1)));
background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(239,1,124,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=1 );
}

.nombres{
	display: block;
}

img {
    vertical-align: middle;
    width: 20px;
}


.fa-angle-left:before {
    content: "\f104";
    font-size: 38px;
    position: relative;
    top: 0px;
    color: #909090;
}

.espacio{
	padding-top: 26px;
	color: #909090;
}
.baja{
	position: relative;
	top: 10px;
}



.foto-perfil{
	 width: 150px;
	 height: 150px;
     position: relative;
     left: 31%;
     border-radius: 50%;
     border: #000 solid 3px;
     padding: 5px;
}

#llave{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	color: #909090;
}

#llave:hover{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	color:  #E41997;

}

.fa-key, .fa-gift, .fa-undo, .fa-credit-card, .fa-question, .fa-cogs, .fa-car{
	padding-right: 15px;
	font-size: 21px;
}

.fa-key:hover, .fa-gift:hover, .fa-undo:hover, .fa-credit-card:hover, .fa-question:hover, .fa-cogs:hover, .fa-car:hover{
	padding-right: 15px;
	font-size: 21px;
	color:  #E41997;
}

#bonton_free{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	color: #909090;
}

#bonton_free:hover{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	color:  #E41997;
}

#bonton_ride{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	color: #909090;
}

#bonton_ride:hover{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	color:  #E41997;
}
#bonton_pay{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	color: #909090;
}

#bonton_pay:hover{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	color:  #E41997;
}

#boton_help{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	color: #909090;
}

#boton_help:hover{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	color:  #E41997;
}

#boton_seguridad{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	color: #909090;
}

#boton_seguridad:hover{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	color:  #E41997;
}

#boton_conducir{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	color:  #909090;
}

#boton_conducir:hover{
	width: 100%;
	background-color: transparent;
	border-color: #909090;
	padding: 10px;
	border-left: transparent;
	border-right: transparent;
	border-top: transparent;
	color:  #E41997;
}


.foto_usuario{
	width: 100%;
}

#ver_border{
	background:#F3F2F3;
	border-radius: 5px;
	padding: 15px;
}

.fa-home, .fa-music, .fa-user{
	font-size: 23px;
	padding-right: 15px;
}


.fa-ellipsis-v{
    font-size: 20px;
    color: #fff;
    float: right;
}


#file-input{
	width: 43%;	
	float: right;
}

#imgSalida{
	width: 100%;
}

input[type=file]#file-input{
  color: transparent;
}

img#imgSalida{
	color: transparent;
}
 .union{
 	position: relative;
 	top: 65px;
 	z-index: 8;
 }

.codigo{
	background: transparent;
	border-right: transparent;
}

.form-control{
	border-left: transparent;
}

input{
	width: 100%;
}

.largo{
	width: 5%;
}

.letras{
	width: 8%;
	margin-top: 10px;
	border-radius: 10px;
}
.dif{
	width: 12.5%;
	margin-top: 10px;
	border-radius: 10px;
}

.esp{
	margin-top: 10px;
	border-radius: 10px;
}

.vene{
	width: 20px;
}

form .form-inline{
	width: 100%;
}

#exampleInputAmount, .form-group, .input-group, .form-control{
	width: 100%;
}

.parrafo{
	padding: 10px;
}

.btn-nex{
	background-color: #FB55FD;
	padding: 20px 5px;
	color:#fff;
	font-size: 20px;
}

.bt{
	border: 1px;
	padding: 3% 0%;
	color: #000;
	background-color: #fff;
	text-align: center;
	border-style: solid;
	border-top: none;
    width: 32%;
    position: relative;
    left: 2%;
    margin-bottom: 0%;
}

.btn-nada{
	background-color: #fff;
	padding: 0px 5px;
	color:#fff;
	font-size: 20px;
}

h1 button{
	background: transparent;
	border: transparent;
	padding: 0% 0%;
	color: #DBDBDB;
	font-size: 20px;
}

h1 button:hover{
	background: transparent;
	border: transparent;
	padding: 0% 0%;
	color: #DBDBDB;
}

label{
	display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 15px;
}

.tamaño{
	width: 7%;
	position: absolute;
}

.tamaño_uno{
	width: 7%;
	position: absolute;
	left: 12%;
}

.tamaño_dos{
	width: 7%;
	position: absolute;
	left: 21%;
}
